@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
    color: black !important;
}

.brand-logo{
    font-family: 'Grand Hotel', cursive;
}

.mycard{
    margin-top: 30px;
}

.auth-card{
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(20, 113, 206) !important;
    box-shadow: 0 1px 0 0 rgb(20, 113, 206)!important;
}

.info-profile{
    display: flex;
    justify-content: space-around;
    margin: 18px 0px;
    border-bottom: 1px solid grey;
}

.count-profile{
    display: flex;
    justify-content: space-between;
    width: 106%;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item{
    width: 30%;
}

.home-card{
    max-width: 700px;
    height: max-content;
    margin: 26px auto;
}

.create-card{
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

#toast-container{
    top: 30px !important;
    right: 20px !important;
    left: auto !important;
}